.circle-progress{
  position: relative;
  margin: 4px;
  float:left;
  text-align: center;
}
.barOverflow{ /* Wraps the rotating .bar */
  position: relative;
  overflow: hidden; /* Comment this line to understand the trick */
  width: 220px; height: 110px; /* Half circle (overflow) */
  margin-bottom: -14px; /* bring the numbers up */
}
.bar{
  position: absolute;
  top: 0; left: 0;
  width: 220px; height: 220px; /* full circle! */
  border-radius: 50%;
  box-sizing: border-box;
  border: 18px solid #ccc;     /* half gray, */
  border-bottom-color: rgb(75, 192, 192);  /* half azure */
  border-right-color: rgb(75, 192, 192);
}