<th:block xmlns:th="http://www.thymeleaf.org">
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />
    <!-- TODO: TITLE -->
    <title>Madive ONE</title>
    <!-- 
    <title th:text="@{${~~~~~~~.get('title')}}"></title>
     -->
    <!-- COMMON CSS -->
    <link rel="icon" th:href="@{/assets/images/favicon.png}" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/madiveone-admin.css}" media="all" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/jquery-ui.css}" media="all" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/summernote-lite.min.css}" media="all" />
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">

    <!-- COMMON JS -->
    <!-- 
	<script th:src="@{https://vuejs.org/js/vue.js}"></script>
     -->
    <script th:src="@{/js/framework/vue/vue.min.js}"></script>
    <script th:src="@{/js/framework/vue/vee-validate.js}"></script>
    <script th:src="@{/js/framework/vue/vee-validate.locale.ko.js}"></script>
    <script th:src="@{/js/framework/vue/vuejs-datepicker.min.js}"></script>
    <script th:src="@{/js/framework/vue/vuejs-datepicker.locale.ko.js}"></script>
    <script th:src="@{/js/framework/vue/axios.min.js}"></script>
    <script th:src="@{/js/framework/lib/moment.min.js}"></script>
    <script th:src="@{/js/framework/lib/numeral.min.js}"></script>
    <!-- TODO: 사용여부 확인 -->
    <!-- add 
    <script th:src="@{/js/framework/vue/vue-router.js}"></script>
    <script th:src="@{/js/framework/vue/vue-cookies.min.js}"></script>
    -->
    <script th:src="@{/assets/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/assets/js/jquery-ui.min.js}"></script>
	<script th:src="@{/assets/js/script.js}"></script>
	<script th:src="@{/assets/js/msc-script.js}"></script>
    <script th:src="@{/assets/js/summernote-lite.min.js}"></script>
    <script th:src="@{/js/framework/jquery/plugin/excelexportjs.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script th:src="@{/assets/js/bootstrap/bootstrap.bundle.min.js}"></script>
    <script src="https://kit.fontawesome.com/f3b5ea638d.js" crossorigin="anonymous"></script>

    <!-- CUSTOM JS -->
    <script th:src="@{/js/common/common.js}"></script>
    <script th:src="@{/js/common/restApiConfig.js}"></script>
</th:block>